ul {
  list-style-type: none;
}

li {
  &::before {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-right: 0.25rem;
    content: "";
  }

  &.open::before,
  &.closed::before {
    background-size: 1rem 1rem;
    position: relative;
    top: 0.2rem;
    transform: scale(1.5);
    // opacity: 0.3;
  }

  &.open::before {
    background-image: url("assets/down.svg");
  }

  &.closed::before {
    background-image: url("assets/right.svg");
  }

  .closed .closed::before,
  .closed .open::before {
    display: none;
  }
}
