
label {
  $color-on: rgb(5, 190, 5);
  $color-off: rgb(254, 0, 0);

  display: block;
  position: relative;
  width: 160px;
  height: 80px;
  cursor: pointer;

  input {
    appearance: none;
  }

  span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    background: $color-off;
    box-shadow: 0 15px 25px #fe000066;
    transition: 0.5s;

    > i {
      position: absolute;
      top: 4px;
      left: 4px;
      width: 72px;
      height: 72px;
      background: #fff;
      border-radius: 50%;
      transition: 0.5s;
      transition-delay: 0.2s;

      &::before {
        content: "";
        position: absolute;
        top: 22px;
        left: 14px;
        width: 12px;
        height: 12px;
        background: $color-off;
        border-radius: 50%;
        box-shadow: 31px 0 $color-off;
        transition: 0.5s;
      }

      &::after {
        content: "";
        position: absolute;
        left: calc(50% - 15px);
        bottom: 15px;
        width: 30px;
        height: 6px;
        background: $color-off;
        border-radius: 6px;
        transition: 0.5s;
      }
    }
  }

  input:checked ~ span {
    background: $color-on;
    box-shadow: 0 15px 25px #05be0566;

    > i {
      left: 84px;

      &::before {
        content: "";
        background-color: $color-on;
        box-shadow: 31px 0 $color-on;
      }

      &::after {
        content: "";
        bottom: 12px;
        height: 15px;
        border-radius: 0;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        background: $color-on;
      }
    }
  }
}
