<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <title>网格布局</title>
  </head>
  <body>
    <div id="app">
      <header class="head">
        <button id="restore">还原</button>
        <button id="use-grid-template-200px">使用grid-template: 200px 200px 200px</button>
        <button id="use-grid-template-1fr">使用grid-template: 200px 200px 200px</button>
      </header>

      <hr />
      <main class="wrapper">
        <div>一</div>
        <div>二</div>
        <div>三</div>
        <div>四</div>
        <div>五</div>
      </main>
    </div>
  </body>
</html>
