header.head {
  font-size: 20px;
  font-weight: 700;
}

main.wrapper {
  display: grid;
  // grid-template-columns: 200px 200px 200px;
  border: 2px solid #f76707;
  border-radius: 5px;
  background-color: #fff4e6;

  > div {
    border: 2px solid #ffa94d;
    border-radius: 5px;
    background-color: #ffd8a8;
    padding: 1em;
    color: #d9480f;
  }
}
